#
# sdl/makeNIX.cfg for SRB2/?nix
#

#
#here is GNU/Linux and other
#

	OPTS = -DUNIXLIKE

ifdef LINUX
	OPTS := -DLINUX $(OPTS)
endif

	LDFLAGS = -L/usr/local/lib
	LIBS = -lm

#
#here is Solaris
#
ifdef SOLARIS
	NOIPX=1
	NOASM=1
	OPTS += -DSOLARIS -DINADDR_NONE=INADDR_ANY -DBSD_COMP 
	OPTS += -I/usr/local/include -I/opt/sfw/include
	LDFLAGS += -L/opt/sfw/lib
	LIBS += -lsocket -lnsl
endif

#
#here is FreeBSD
#
ifdef FREEBSD
	OPTS += -DLINUX -DFREEBSD -I/usr/X11R6/include
	SDL_CONFIG = sdl11-config
	LDFLAGS += -L/usr/X11R6/lib
	LIBS += -lipx -lkvm
endif

ifndef NOHW
	OPTS += -I/usr/X11R6/include
	LDFLAGS += -L/usr/X11R6/lib
endif

	# name of the exefile
	EXENAME = lsdlsrb2
